#Copyright (c) 2022 All project authors. All rights reserved.
#
#This source code is licensed under Apache 2.0 License.

server:
  port: 8083

nebula:
  ngbatis:
    session-life-length: 300000
    check-fixed-rate: 300000
    # space name needs to be informed through annotations(@Space) or xml(space="test")
    # default false(false: Session pool map will not be initialized)
    use-session-pool: false
  hosts: 127.0.0.1:19669
  username: root
  password: nebula
  # create test space according to resources/testgraph.ngql script
  # Specific steps refer to https://github.com/vesoft-inc/nebula-console
  space: test
  pool-config:
    min-conns-size: 0
    max-conns-size: 10
    timeout: 6000
    idle-time: 0
    interval-idle: -1
    wait-time: 6000
    min-cluster-health-rate: 1.0
    enable-ssl: false
    
# 开启 nGQL 输出
#logging:
#  level:
#    org.nebula.contrib: DEBUG